.video1 {
    width: 700px;
    height: 290px;

}
.video2 {
    width: 640px;
    height: 290px;

}
.video-container {
    max-width: 1200px;
    margin: 0 auto;

}

.text {
    max-width: 1200px;
    margin: 0 auto;
}

.stile {
    font-weight: 400;
    font-size: 20px;
}